# Datagrabbing Notebook

In [ ]:
#Bulk files:
#http://download.companieshouse.gov.uk/en_pscdata.html
#wget http://download.companieshouse.gov.uk/persons-with-significant-control-snapshot-2016-10-25.zip
#unzip http://download.companieshouse.gov.uk/persons-with-significant-control-snapshot-2016-10-25.zip

In [1]:
!ls

sample_data

In [ ]:
!ls

Companies House - Significant Control Snapshot - Loader.ipynb
docker-compose.yml
persons-with-significant-control-snapshot-2016-10-25.txt
persons-with-significant-control-snapshot-2016-10-25.zip
README.md

In [ ]:
#Preview the data
!head -n 1 persons-with-significant-control-snapshot-2016-10-25.txt

{"company_number":"09145694","data":{"address":{"address_line_1":"Reading Road","locality":"Henley-On-Thames","postal_code":"RG9 1DP","premises":"161","region":"Oxfordshire"},"country_of_residence":"England","date_of_birth":{"month":2,"year":1977},"etag":"26281d9bedb2d102359f6afc3cb8cf62bb4a7f01","kind":"individual-person-with-significant-control","links":{"self":"/company/09145694/persons-with-significant-control/individual/bIhuKnMFctSnjrDjUG8n3NgOrlU"},"name":"Mrs Nga Thanh Wildman","name_elements":{"forename":"Nga","middle_name":"Thanh","surname":"Wildman","title":"Mrs"},"nationality":"Vietnamese","natures_of_control":["ownership-of-shares-50-to-75-percent"],"notified_on":"2016-04-06"}}

In [ ]:
#How many records?
!wc -l persons-with-significant-control-snapshot-2016-10-25.txt

1270822 persons-with-significant-control-snapshot-2016-10-25.txt

# MongoDB Setup
So we have JSON data - Postgresql does support json now, but let's use mongo...

In [ ]:
!pip3 install pymongo

Collecting pymongo
  Downloading pymongo-3.3.0-cp35-cp35m-manylinux1_x86_64.whl (337kB)
    100% |████████████████████████████████| 337kB 2.1MB/s
Installing collected packages: pymongo
Successfully installed pymongo-3.3.0

In [ ]:
import pymongo

In [ ]:
from pymongo import MongoClient
c=MongoClient('mongodb',27017)
c.database_names()

['local']

In [ ]:
#Create a db
db=c.ch

In [ ]:
#Import the data - may take a bit of time...
import json
from itertools import islice

import codecs

In [ ]:
loadsize=500
data=[]
db.sigcon.drop()
with codecs.open('persons-with-significant-control-snapshot-2016-10-25.txt', 'r', 'utf-8-sig') as f:
    for line in f:
        data.append(json.loads(line))
        #DO bulk intserts
        if len(data)>loadsize:
            db.sigcon.insert_many(data)
            data=[]
    if len(data)>0:db.sigcon.insert_many(data)

In [ ]:
#Check we can query them
db.sigcon.find_one()

{'_id': ObjectId('580fa5fd0a17da000dc83c7c'),
 'company_number': '09145694',
 'data': {'address': {'address_line_1': 'Reading Road',
   'locality': 'Henley-On-Thames',
   'postal_code': 'RG9 1DP',
   'premises': '161',
   'region': 'Oxfordshire'},
  'country_of_residence': 'England',
  'date_of_birth': {'month': 2, 'year': 1977},
  'etag': '26281d9bedb2d102359f6afc3cb8cf62bb4a7f01',
  'kind': 'individual-person-with-significant-control',
  'links': {'self': '/company/09145694/persons-with-significant-control/individual/bIhuKnMFctSnjrDjUG8n3NgOrlU'},
  'name': 'Mrs Nga Thanh Wildman',
  'name_elements': {'forename': 'Nga',
   'middle_name': 'Thanh',
   'surname': 'Wildman',
   'title': 'Mrs'},
  'nationality': 'Vietnamese',
  'natures_of_control': ['ownership-of-shares-50-to-75-percent'],
  'notified_on': '2016-04-06'}}

In [ ]:
for l in db.sigcon.find({"data.address.postal_code" : { '$regex' : '^PO36' }},{'data.name':1,'data.natures_of_control':1,
                                                                               'company_number':1}).limit( 5 ):
    print(l)

{'data': {'natures_of_control': ['ownership-of-shares-75-to-100-percent', 'voting-rights-75-to-100-percent', 'right-to-appoint-and-remove-directors'], 'name': 'Isle Of Wight Zoo Holdings Limited'}, '_id': ObjectId('580fa6000a17da000dc8aa18'), 'company_number': '10268523'}
{'data': {'natures_of_control': ['ownership-of-shares-75-to-100-percent'], 'name': 'Mr Laurence James Mcgillvray Hunt'}, '_id': ObjectId('580fa6010a17da000dc8be7d'), 'company_number': '04076843'}
{'data': {'natures_of_control': ['ownership-of-shares-75-to-100-percent'], 'name': 'Mr Joao Tiago Rodrigues Marques'}, '_id': ObjectId('580fa6010a17da000dc8ca37'), 'company_number': '09698670'}
{'data': {'natures_of_control': ['ownership-of-shares-25-to-50-percent', 'voting-rights-25-to-50-percent'], 'name': 'Mr Geoffrey Underwood'}, '_id': ObjectId('580fa6020a17da000dc8d534'), 'company_number': '06299924'}
{'data': {'natures_of_control': ['ownership-of-shares-25-to-50-percent', 'voting-rights-25-to-50-percent'], 'name': 'Mr Stephen John Price'}, '_id': ObjectId('580fa6020a17da000dc8d536'), 'company_number': '06299924'}

# PostgreSQL Setup

The beneficial ownership data only has company names - so we porbably need to pull down some company records to be able to look-up against companies.

Data can be found at: http://download.companieshouse.gov.uk/en_output.html

Let's see how to load this data into PostgreSQL.

The recipe is cribbed from: https://gist.github.com/psychemedia/4f564bbbbebbe9e4e827

In [ ]:
#Get the data files
!wget http://download.companieshouse.gov.uk/BasicCompanyData-2016-10-01-part1_5.zip
!wget http://download.companieshouse.gov.uk/BasicCompanyData-2016-10-01-part2_5.zip
!wget http://download.companieshouse.gov.uk/BasicCompanyData-2016-10-01-part3_5.zip
!wget http://download.companieshouse.gov.uk/BasicCompanyData-2016-10-01-part4_5.zip
!wget http://download.companieshouse.gov.uk/BasicCompanyData-2016-10-01-part5_5.zip

!unzip BasicCompanyData-2016-10-01-part1_5.zip
!unzip BasicCompanyData-2016-10-01-part2_5.zip
!unzip BasicCompanyData-2016-10-01-part3_5.zip
!unzip BasicCompanyData-2016-10-01-part4_5.zip
!unzip BasicCompanyData-2016-10-01-part5_5.zip

--2016-10-25 16:37:01--  http://download.companieshouse.gov.uk/BasicCompanyData-2016-10-01-part1_5.zip
Resolving download.companieshouse.gov.uk (download.companieshouse.gov.uk)... 194.75.36.68, 62.254.241.68
Connecting to download.companieshouse.gov.uk (download.companieshouse.gov.uk)|194.75.36.68|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65194440 (62M) [application/zip]
Saving to: ‘BasicCompanyData-2016-10-01-part1_5.zip’

BasicCompanyData-20 100%[=====================>]  62.17M  2.95MB/s   in 20s

2016-10-25 16:37:21 (3.15 MB/s) - ‘BasicCompanyData-2016-10-01-part1_5.zip’ saved [65194440/65194440]

--2016-10-25 16:37:21--  http://download.companieshouse.gov.uk/BasicCompanyData-2016-10-01-part2_5.zip
Resolving download.companieshouse.gov.uk (download.companieshouse.gov.uk)... 194.75.36.68, 62.254.241.68
Connecting to download.companieshouse.gov.uk (download.companieshouse.gov.uk)|194.75.36.68|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 66005039 (63M) [application/zip]
Saving to: ‘BasicCompanyData-2016-10-01-part2_5.zip’

BasicCompanyData-20 100%[=====================>]  62.95M  3.26MB/s   in 15s

2016-10-25 16:37:37 (4.10 MB/s) - ‘BasicCompanyData-2016-10-01-part2_5.zip’ saved [66005039/66005039]

--2016-10-25 16:37:37--  http://download.companieshouse.gov.uk/BasicCompanyData-2016-10-01-part3_5.zip
Resolving download.companieshouse.gov.uk (download.companieshouse.gov.uk)... 194.75.36.68, 62.254.241.68
Connecting to download.companieshouse.gov.uk (download.companieshouse.gov.uk)|194.75.36.68|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65545062 (63M) [application/zip]
Saving to: ‘BasicCompanyData-2016-10-01-part3_5.zip’

BasicCompanyData-20 100%[=====================>]  62.51M  1.89MB/s   in 15s

2016-10-25 16:37:52 (4.22 MB/s) - ‘BasicCompanyData-2016-10-01-part3_5.zip’ saved [65545062/65545062]

--2016-10-25 16:37:52--  http://download.companieshouse.gov.uk/BasicCompanyData-2016-10-01-part4_5.zip
Resolving download.companieshouse.gov.uk (download.companieshouse.gov.uk)... 194.75.36.68, 62.254.241.68
Connecting to download.companieshouse.gov.uk (download.companieshouse.gov.uk)|194.75.36.68|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65453072 (62M) [application/zip]
Saving to: ‘BasicCompanyData-2016-10-01-part4_5.zip’

BasicCompanyData-20 100%[=====================>]  62.42M  5.93MB/s   in 16s

2016-10-25 16:38:08 (3.92 MB/s) - ‘BasicCompanyData-2016-10-01-part4_5.zip’ saved [65453072/65453072]

--2016-10-25 16:38:09--  http://download.companieshouse.gov.uk/BasicCompanyData-2016-10-01-part5_5.zip
Resolving download.companieshouse.gov.uk (download.companieshouse.gov.uk)... 62.254.241.68, 194.75.36.68
Connecting to download.companieshouse.gov.uk (download.companieshouse.gov.uk)|62.254.241.68|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40968891 (39M) [application/zip]
Saving to: ‘BasicCompanyData-2016-10-01-part5_5.zip’

BasicCompanyData-20 100%[=====================>]  39.07M  3.83MB/s   in 13s

2016-10-25 16:38:22 (3.05 MB/s) - ‘BasicCompanyData-2016-10-01-part5_5.zip’ saved [40968891/40968891]

Archive:  BasicCompanyData-2016-10-01-part1_5.zip
  inflating: BasicCompanyData-2016-10-01-part1_5.csv
Archive:  BasicCompanyData-2016-10-01-part2_5.zip
  inflating: BasicCompanyData-2016-10-01-part2_5.csv
Archive:  BasicCompanyData-2016-10-01-part3_5.zip
  inflating: BasicCompanyData-2016-10-01-part3_5.csv
Archive:  BasicCompanyData-2016-10-01-part4_5.zip
  inflating: BasicCompanyData-2016-10-01-part4_5.csv
Archive:  BasicCompanyData-2016-10-01-part5_5.zip
  inflating: BasicCompanyData-2016-10-01-part5_5.csv

In [ ]:
#We need to build in some support for running python-postgres queries
!sudo apt-get -qq update && sudo apt-get -qq -y install libpq-dev
!pip3 -q install psycopg2

debconf: delaying package configuration, since apt-utils is not installed
Selecting previously unselected package libgssrpc4:amd64.
(Reading database ... 81169 files and directories currently installed.)
Preparing to unpack .../libgssrpc4_1.12.1+dfsg-19+deb8u2_amd64.deb ...
Unpacking libgssrpc4:amd64 (1.12.1+dfsg-19+deb8u2) ...
Selecting previously unselected package libkadm5clnt-mit9:amd64.
Preparing to unpack .../libkadm5clnt-mit9_1.12.1+dfsg-19+deb8u2_amd64.deb ...
Unpacking libkadm5clnt-mit9:amd64 (1.12.1+dfsg-19+deb8u2) ...
Selecting previously unselected package libkdb5-7:amd64.
Preparing to unpack .../libkdb5-7_1.12.1+dfsg-19+deb8u2_amd64.deb ...
Unpacking libkdb5-7:amd64 (1.12.1+dfsg-19+deb8u2) ...
Selecting previously unselected package libkadm5srv-mit9:amd64.
Preparing to unpack .../libkadm5srv-mit9_1.12.1+dfsg-19+deb8u2_amd64.deb ...
Unpacking libkadm5srv-mit9:amd64 (1.12.1+dfsg-19+deb8u2) ...
Selecting previously unselected package libpq5:amd64.
Preparing to unpack .../libpq5_9.4.9-0+deb8u1_amd64.deb ...
Unpacking libpq5:amd64 (9.4.9-0+deb8u1) ...
Selecting previously unselected package comerr-dev.
Preparing to unpack .../comerr-dev_2.1-1.42.12-2_amd64.deb ...
Unpacking comerr-dev (2.1-1.42.12-2) ...
Selecting previously unselected package krb5-multidev.
Preparing to unpack .../krb5-multidev_1.12.1+dfsg-19+deb8u2_amd64.deb ...
Unpacking krb5-multidev (1.12.1+dfsg-19+deb8u2) ...
Selecting previously unselected package zlib1g-dev:amd64.
Preparing to unpack .../zlib1g-dev_1%3a1.2.8.dfsg-2+b1_amd64.deb ...
Unpacking zlib1g-dev:amd64 (1:1.2.8.dfsg-2+b1) ...
Selecting previously unselected package libssl-dev:amd64.
Preparing to unpack .../libssl-dev_1.0.1t-1+deb8u5_amd64.deb ...
Unpacking libssl-dev:amd64 (1.0.1t-1+deb8u5) ...
Selecting previously unselected package libpq-dev.
Preparing to unpack .../libpq-dev_9.4.9-0+deb8u1_amd64.deb ...
Unpacking libpq-dev (9.4.9-0+deb8u1) ...
Selecting previously unselected package libssl-doc.
Preparing to unpack .../libssl-doc_1.0.1t-1+deb8u5_all.deb ...
Unpacking libssl-doc (1.0.1t-1+deb8u5) ...
Setting up libgssrpc4:amd64 (1.12.1+dfsg-19+deb8u2) ...
Setting up libkadm5clnt-mit9:amd64 (1.12.1+dfsg-19+deb8u2) ...
Setting up libkdb5-7:amd64 (1.12.1+dfsg-19+deb8u2) ...
Setting up libkadm5srv-mit9:amd64 (1.12.1+dfsg-19+deb8u2) ...
Setting up libpq5:amd64 (9.4.9-0+deb8u1) ...
Setting up comerr-dev (2.1-1.42.12-2) ...
Setting up krb5-multidev (1.12.1+dfsg-19+deb8u2) ...
Setting up zlib1g-dev:amd64 (1:1.2.8.dfsg-2+b1) ...
Setting up libssl-dev:amd64 (1.0.1t-1+deb8u5) ...
Setting up libpq-dev (9.4.9-0+deb8u1) ...
Setting up libssl-doc (1.0.1t-1+deb8u5) ...
Processing triggers for libc-bin (2.19-18+deb8u6) ...

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:PGPass@postgres:5432")

In [ ]:
from pandas import read_sql_query as psql

psql("SELECT table_schema,table_name FROM information_schema.tables \
    ORDER BY table_schema,table_name LIMIT 3;", engine)

         table_schema                         table_name
0  information_schema  administrable_role_authorizations
1  information_schema                   applicable_roles
2  information_schema                         attributes

In [ ]:
#psql lets us return tables as dataframes
from pandas import read_sql_query as psql
#psqlx is a convenience fucntion for executing raw queries where we aren't so bothered about the response...
#Errors should still be thrown...
from pandas.io.sql import execute as psqlx

import pandas as pd
from sqlalchemy import create_engine

In [ ]:
##cur.execute("DROP TABLE companydata;")
#psqlx("DROP TABLE IF EXISTS companydata;",engine)

In [ ]:
##cur.execute("DROP TABLE company_postcode_area;")
#psqlx("DROP TABLE IF EXISTS company_postcode_area;",engine)

In [ ]:
##cur.execute("DROP INDEX company_postcode_area_idx;")
#psqlx("DROP INDEX company_postcode_area_idx;",engine)

In [ ]:
!ls

In [ ]:
#To define the table, let's check the longest strings in column
#Note that this routine may take a few minutes to run

cleanColNames=["CompanyName","RegAddress.CareOf","RegAddress.POBox", \
                "RegAddress.AddressLine1","RegAddress.AddressLine2","RegAddress.PostTown","RegAddress.County", \
                "RegAddress.Country","RegAddress.PostCode","CompanyCategory","CompanyStatus", \
                "CountryOfOrigin"]

def colMaxLen(df,maxlens):
    df.rename(columns=lambda x: x.strip(), inplace=True)
    for col in cleanColNames:
        cml=df[col].astype(str).map(len).max()
        if cml > maxlens[col]: maxlens[col]=cml

import os
maxlens={}
for name in cleanColNames: maxlens[name]=0
for fname in os.listdir('.'):
    #if a file is a CSV file, process it
    if fname.startswith('BasicCompanyData-2016-10-01-part') and fname.endswith('.csv'):
        fname="./"+fname
        #Read in 10,000 rows at a time
        chunks=pd.read_csv(fname,chunksize=10000)
        for chunk in chunks:
            colMaxLen(chunk,maxlens)
maxlens

{'CompanyCategory': 89,
 'CompanyName': 160,
 'CompanyStatus': 48,
 'CountryOfOrigin': 24,
 'RegAddress.AddressLine1': 101,
 'RegAddress.AddressLine2': 70,
 'RegAddress.CareOf': 82,
 'RegAddress.Country': 50,
 'RegAddress.County': 50,
 'RegAddress.POBox': 10,
 'RegAddress.PostCode': 15,
 'RegAddress.PostTown': 50}

In [ ]:
#I'm going to create a table over some of the columns - essentially, the company name, number, address and incoporation date
#We can use the maxlens to ensure we create large enough data fields

#I wonder if we should just try to create the table from the dataframe?
#Perhaps make sure we cast the right type of each column in the dataframe first?
#It's easier using psycopg2 to just run the query (will sqlalchemy let us run a "raw" query? Trying psqlx over cur.execute)
#cur.execute


#Should set the sizes as a rounded up variant of the discovered max sizes
psqlx("CREATE TABLE companydata ( CompanyName VARCHAR (200), CompanyNumber VARCHAR (10) PRIMARY KEY, \
       RegAddress_CareOf VARCHAR (100), RegAddress_POBox VARCHAR (15), RegAddress_AddressLine1 VARCHAR (120), \
       RegAddress_AddressLine2 VARCHAR (100), RegAddress_PostTown VARCHAR (60), \
       RegAddress_County VARCHAR (60), RegAddress_Country VARCHAR (60), RegAddress_PostCode VARCHAR (20), \
       CompanyCategory VARCHAR (100), CompanyStatus VARCHAR (60), CountryOfOrigin VARCHAR (40), \
       IncorporationDate date);",engine)

In [ ]:
#Even though I used mixed case column names, I didn't quote them - so PostgreSQL forces them to lower case
#The lack of quotes also meand I had to replace the . in the column names with something more acceptable... (an underscore)
psql("SELECT * FROM companydata LIMIT 1;", engine)

Empty DataFrame
Columns: [companyname, companynumber, regaddress_careof, regaddress_pobox, regaddress_addressline1, regaddress_addressline2, regaddress_posttown, regaddress_county, regaddress_country, regaddress_postcode, companycategory, companystatus, countryoforigin, incorporationdate]
Index: []

In [ ]:
companydata_cols=['companyname', 'companynumber', 'regaddress_careof',
           'regaddress_pobox', 'regaddress_addressline1',
           'regaddress_addressline2', 'regaddress_posttown',
           'regaddress_county', 'regaddress_country', 'regaddress_postcode',
           'companycategory', 'companystatus', 'countryoforigin',
           'incorporationdate']

def addchunk(chunk):
    '''Create a function to clean the companydata from the CSV file and enter it into the database table'''

    #NOTE IF WE HAVE MORE TABLES BEST TO PROCESS THEM ALL FROM A SINGLE FILE READ?

    #To conform to the column names in the table I defined, we need to make some changes to the column names
    #Firstly, replace the points with underscores
    chunk.rename(columns=lambda x: x.replace('.','_'), inplace=True)
    #Make sure we strip off any whitespace left and right
    chunk.rename(columns=lambda x: x.strip(), inplace=True)
    #Force the column names to lower case
    chunk.rename(columns=lambda x: x.lower(), inplace=True)

    #This adds to the load time but it's often worth doing
    for col in companydata_cols:
        chunk[col] = chunk[col].str.strip()

    #We could have parsed the dates on load, but if we do it here we can keep all the cleaning steps together
    chunk['incorporationdate']=pd.to_datetime(chunk['incorporationdate'], format='%d/%m/%Y',errors='coerce')
    #I'm actually only interested in companies with an incorporation date
    chunk.dropna(subset=['incorporationdate'],inplace=True)
    #NB PostgreSQL may also throw a wobbly if it doesn't see a date when it expects one!

    #We're not saving all the column names - just name, number, address, incorporation date as per the table definition
    #If the table exists, which it does, append data to it
    chunk[companydata_cols].to_sql('companydata', engine, index=False, if_exists='append')

In [ ]:
import os
#Here's our ingest loop
#THIS COULD TAKE SOME TIME TO RUN - MAYBE EVEN AN HOUR OR MORE...
#Maybe this is an argument in favour of having several passes for different tables?

#Get the names of the files in the companydata directory
for fname in os.listdir('.'):
    #if a file is a CSV file, process it
    if fname.startswith('BasicCompanyData-2016-10-01-part') and fname.endswith('csv'):
        fname="./"+fname
        #Read in 10,000 rows at a time
        chunks=pd.read_csv(fname,chunksize=10000,dtype=str)
        for chunk in chunks:
            #Call the function that cleans the data and adds it to the database
            addchunk(chunk)
        #Do some housekeeping - remove the CSV
        #os.remove(fname)

In [ ]:
#How many rows did we load in in the end?
psql("SELECT count(*) FROM companydata;", engine)

     count
0  3924196

In [ ]:
psql("SELECT * FROM companydata LIMIT 5;", engine)

,companyname,companynumber,regaddress_careof,regaddress_pobox,regaddress_addressline1,regaddress_addressline2,regaddress_posttown,regaddress_county,regaddress_country,regaddress_postcode,companycategory,companystatus,countryoforigin,incorporationdate
0,! LTD,08209948,None,None,METROHOUSE 57 PEPPER ROAD,HUNSLET,LEEDS,YORKSHIRE,None,LS10 2RU,Private Limited Company,Active,United Kingdom,2012-09-11
1,!BIG IMPACT GRAPHICS LIMITED,07382019,None,None,335 ROSDEN HOUSE,372 OLD STREET,LONDON,None,None,EC1V 9AV,Private Limited Company,Active,United Kingdom,2010-09-21
2,!NFERNO LTD.,04753368,None,None,FIRST FLOOR THAVIES INN HOUSE 3-4,HOLBORN CIRCUS,LONDON,None,None,EC1N 2HA,Private Limited Company,Active,United Kingdom,2003-05-03
3,!NSPIRED LTD,SC421617,None,None,12 BON ACCORD SQUARE,None,ABERDEEN,None,None,AB11 6DJ,Private Limited Company,Active,United Kingdom,2012-04-11
4,!NVERTD DESIGNS LIMITED,09152972,None,None,32 RECTORY ROAD,None,STEPPINGLEY,None,None,MK45 5AT,Private Limited Company,Active,United Kingdom,2014-07-30

In [ ]:
#cur.execute("CREATE TABLE company_postcode_area AS \
#    SELECT companynumber, split_part(regaddress_postcode,' ',1) as postcode_area FROM companydata;")
psqlx("CREATE TABLE company_postcode_area AS \
    SELECT companynumber, split_part(regaddress_postcode,' ',1) as postcode_area FROM companydata;",engine)

In [ ]:
#cur.execute("CREATE INDEX company_postcode_area_idx ON company_postcode_area (postcode_area);")
psqlx("CREATE INDEX company_postcode_area_idx ON company_postcode_area (postcode_area);",engine)

In [ ]:
mkCos=psql("SELECT * FROM company_postcode_area \
    WHERE postcode_area IN ('MK1','MK2','MK3','MK4','MK5','MK6','MK7','MK8','MK9','MK10','MK11','MK12','MK13','MK14','MK15');",engine)
mkCos.groupby('postcode_area').companynumber.agg(len).sort_values(ascending=False)

postcode_area
MK9     2488
MK14    1411
MK5     1397
MK4     1175
MK12    1124
MK10    1122
MK2     1094
MK11    1058
MK6      966
MK1      943
MK13     752
MK7      720
MK8      714
MK3      709
MK15     665
Name: companynumber, dtype: int64

## PostgreSQL JSON Setup

It is possible to save JSON records as such in a PostgreSQL table and then query them as JSON records. There are probably efficient ways of doing this - I'm exploring for the first time...

In [ ]:
psqlx("DROP TABLE IF EXISTS company_sigcon_json;",engine)

In [ ]:
#
psqlx("CREATE TABLE IF NOT EXISTS company_sigcon_json ( id integer, data json );",engine)

In [ ]:
!head -n 1 persons-with-significant-control-snapshot-2016-10-25.txt

{"company_number":"09145694","data":{"address":{"address_line_1":"Reading Road","locality":"Henley-On-Thames","postal_code":"RG9 1DP","premises":"161","region":"Oxfordshire"},"country_of_residence":"England","date_of_birth":{"month":2,"year":1977},"etag":"26281d9bedb2d102359f6afc3cb8cf62bb4a7f01","kind":"individual-person-with-significant-control","links":{"self":"/company/09145694/persons-with-significant-control/individual/bIhuKnMFctSnjrDjUG8n3NgOrlU"},"name":"Mrs Nga Thanh Wildman","name_elements":{"forename":"Nga","middle_name":"Thanh","surname":"Wildman","title":"Mrs"},"nationality":"Vietnamese","natures_of_control":["ownership-of-shares-50-to-75-percent"],"notified_on":"2016-04-06"}}

In [ ]:
import codecs
i=1
with codecs.open('persons-with-significant-control-snapshot-2016-10-25.txt', 'r', 'utf-8-sig') as f:
    for line in f:
        try:
            psqlx("INSERT INTO company_sigcon_json VALUES ({},'{}');".format(i,line.replace("'", "''").replace("%", "%%")),engine)
            i=i+1
        except: print(line)

In [ ]:
#insert into t (a, b) values (1,2), (3,4), (5,6) so we can optimise the above by joining blocks of 2 tuples?

In [ ]:
psql("SELECT id, data->>'company_number' AS company_number FROM company_sigcon_json LIMIT 2;",engine)

   id company_number
0   1       09145694
1   2       08581893

In [ ]:
q="SELECT data FROM company_sigcon_json WHERE data->>'company_number' = '09145694'"
psql(q,engine)

                                                data
0  {'company_number': '09145694', 'data': {'natur...

In [ ]:
print(_.ix[0])

{'company_number': '09145694', 'data': {'natures_of_control': ['ownership-of-shares-50-to-75-percent'], 'notified_on': '2016-04-06', 'kind': 'individual-person-with-significant-control', 'nationality': 'Vietnamese', 'name_elements': {'forename': 'Nga', 'surname': 'Wildman', 'title': 'Mrs', 'middle_name': 'Thanh'}, 'date_of_birth': {'month': 2, 'year': 1977}, 'links': {'self': '/company/09145694/persons-with-significant-control/individual/bIhuKnMFctSnjrDjUG8n3NgOrlU'}, 'etag': '26281d9bedb2d102359f6afc3cb8cf62bb4a7f01', 'address': {'address_line_1': 'Reading Road', 'premises': '161', 'region': 'Oxfordshire', 'postal_code': 'RG9 1DP', 'locality': 'Henley-On-Thames'}, 'name': 'Mrs Nga Thanh Wildman', 'country_of_residence': 'England'}}

In [ ]:
q="SELECT data->'data'->>'natures_of_control' FROM company_sigcon_json LIMIT 2"
psql(q,engine)

                                            ?column?
0             [ownership-of-shares-50-to-75-percent]
1  [ownership-of-shares-25-to-50-percent, ownersh...

In [ ]:
q="SELECT data->'data'->'name_elements'->>'forename' AS forename FROM company_sigcon_json LIMIT 2"

psql(q,engine)

  forename
0      Nga
1  Stephen

In [ ]:
q="SELECT companyname FROM companydata WHERE companynumber IN (SELECT data->>'company_number' AS companynumber FROM company_sigcon_json LIMIT 2) "

psql(q,engine)

             companyname
0  CQRS NOMINEES LIMITED
1    CHARMOSA BEAUTY LTD

In [ ]:
#Can we write a query that joins data from a flat SQL table and a JSON storing table?
q='''
SELECT cd.companyname, sc.surname FROM
(SELECT data->>'company_number' AS companynumber, data->'data'->'name_elements'->>'surname' AS surname
    FROM company_sigcon_json LIMIT 2) AS sc, companydata AS cd WHERE cd.companynumber = sc.companynumber
'''

psql(q,engine)

             companyname  surname
0    CHARMOSA BEAUTY LTD  Wildman
1  CQRS NOMINEES LIMITED   Davies